!!! 5
%html(ng-app='addressbook')
  %head
    %meta(charset='utf-8')
    %title AddressBook with AngularJS
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'angular-1.0.1'
    = javascript_include_tag 'angular-resource-1.0.1'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body(ng-controller='ToyCtrl')
    %h1(ng-click='greetings()') Addressbook angularized

    %div(ng-controller='ContactsCtrl')
      %input(type='button' value='Fetch all contacts' ng-click='fetchAll()')
      %ul
        %li(ng-repeat='contact in contacts') {{contact.name}}

    %div(ng-view)


