!!! 5
%html(ng-app='addressbook')
  %head
    %meta(charset='utf-8')
    %title AddressBook with AngularJS
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'angular-1.0.1'
    = javascript_include_tag 'angular-resource-1.0.1'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body(ng-controller='AddressbookCtrl')
    %div(ng-view)


